<div class="login-container">
    <h2>Login</h2>
    
    <form (submit)="login(customerId.value, password.value)">
      <label for="customerId">Customer ID:</label>
      <input id="customerId" type="text" #customerId required />
      
      <label for="password">Password:</label>
      <input id="password" type="password" #password required />
      
      <button type="submit">Login</button>
    </form>
    
    <div *ngIf="!isVerified" class="error-message">Invalid customer ID or password</div>
    
    @if (isVerified) {
      <router-outlet></router-outlet>
    }
  </div>
  